.section-banner {
    position: relative;
    background-image: url('../assets/aProposBanner.jpeg');
    background-size: cover;
    height: 223px;
    margin-bottom: 31px;
    margin-top: 18px;
    border-radius: 25px;
}
.kasa-a-propos .dropdowns-container {
    flex-direction: column;
    align-items: center; 
    height: auto;
}
.kasa-a-propos .dropdown {
    margin-bottom: 31px;
    height: auto;
    border-radius: 5px;
}

.kasa-a-propos .dropdown_btn {
    
    font-size: 24px;
    font-weight: 500;
    padding: 16px 32px;
    width: 90%;
    margin: 0 auto;
}

.kasa-a-propos .dropdown_value {
    width: 90%;
    margin: 0 auto;
    margin-top: -15px;
    
}
@media screen and (max-width: 900px) {
    .kasa-a-propos .dropdown_btn,
    .kasa-a-propos .dropdown_value {
        width: 100%;
    }
    .kasa-a-propos .dropdown_btn {
        font-size: 20px;
    }
}
@media screen and (max-width: 600px) {
    .kasa-a-propos .dropdown_btn {
        font-size: 18px;
        padding: 11px 32px;
    }
    .kasa-a-propos .dropdown_value {
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
    }
}
@media screen and (max-width:375px) {
    .kasa-a-propos .dropdown_btn {
        font-size: 16px;
        padding: 8px 32px;
    }
    .kasa-a-propos .dropdown_value {
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
    }
}
