.dropdowns-container {
  /*display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-top: 24px;
  height: 367px;
   margin: 24px auto; */
  
}

.dropdown {
  position: relative;
  /* width: 582px;
  height: 52px; */
}

.dropdown_btn {
  position: relative;
  border-radius: 10px;
  background-color: #FF6060;
  color: #fff;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  line-height: 25px;
  z-index: 10;
}
.dropdown_btn::after {
  display: block;
  content: " ";
  width: 10px;
  height: 10px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  right: 15px;
  top: 17px;
}
.dropdown_btn.visible::after {
  top: 22px;
  transform: rotate(-135deg);
}

.dropdown_value {
  border-radius: 10px;
  background-color: #f7F7F7;
  padding: 40px 12px;
  margin-top: -10px;
  line-height: 26px;
  color: #FF6060;
}

.dropdown_value li {
  list-style: none;
  line-height: 26px;
}