
.global-top-section {
    display: flex;
    justify-content: space-between;
}
.fiche-logement_title {
    font-size: 36px;
    color: #FF6060;
    font-weight: 500;
    margin-bottom: 0;
}
.casa-fiche-logement div.dropdowns-container {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-top: 15px;
    margin-bottom: 150px;
}
.casa-fiche-logement div.dropdown {
    height: auto;
    margin-top: 10px;
} 
.casa-fiche-logement div.dropdown_btn {
    padding: 14px 32px;
    margin: 0 auto;
    /* width: 534px; */
}
.fiche-logement_subtitle {
    color: #FF6060;
    margin-top: 0;
}
.dropdowns-container div.dropdown_value {
    /* height: 249px; */
}
@media screen and (max-width: 900px) {
    .global-top-section {
        flex-direction: column;
    }
    .fiche-logement_title {
        line-height: 1.5;
    }
    .section-tags-list {
        margin-top: 13px;
    }
    .rating{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .stars {
        order: 1;
        width: 35%;
    }
    .profil {
        order: 2;
    }
    .dropdowns-container {
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    .fiche-logement_title {
        font-size: 24px;
    }
    .fiche-logement_name{
        line-height: 1;
    } 
    .fiche-logement_subtitle {
        margin-top: 10px;
    }
    .casa-fiche-logement div.dropdown {
        margin-top: 10px;
        width: auto;
    }
}
@media screen and (min-width: 900px) {
    .casa-fiche-logement div.dropdown {
        width: 49%;
    }
}