@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    padding: 30px 50px 0px 50px;

}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
.container {
    flex: 1;
}
@media screen and (max-width: 900px) {
    .banner-title {
        font-size: 35px;
    }
}

@media screen and (max-width: 600px) {
    .lmj-logo {
        width: 105px;
        height: 34px;
    }
    li {
        font-size: 12px;
    }
    .banner-title {
        font-size: 35px;
    }
    .dropdown_btn {
        font-size: 13px;
    }
}
@media screen and (max-width: 400px) {

    h1 {
      font-size: 2rem;
    }
}